<div class="container">
  <form  action="/registration" method="post">

      <div id="displayreg"><h2> Waiters Webapp</h2>
 <strong><h3>Enter a registration number:</h3></strong></div>

        <br>
        <div id="textFieldAndBtn">
          <input type="text" class="registrationNum" name="nums" value="" pattern='[A-Z]{2,3}\s\d{3}\W\d{3}|[A-Z]{2,3}\s\d{2,3}' title="Example: CA 123-345">
          <br><br>
        <button type="submit" class="btn">ADD</button>
           <a href="/reset"><button type="button" class="btn">RESET</button></a>
          </form> <br>
          <span> <span class="alert"></span> </span>
        
         <br>
         <br>

         
        <div class="addTown">
          <form action="/towns" method="GET">
            <label for="town: "></label>
          <select onchange="filterBy(this)" class="DropSelector" name="selectTown">

            <option  name="selectTown" class="DropSelector" value="All">All-Towns</option>

             {{#each Numbers}}
            <option name="selectTown" value="{{town_id}}" {{selected}}> {{town_name}}</option>
            {{/each}}
          

          </select>
          
           </form>
          
        </div>
 {{#if messages.info}}
<div class="entry">
    <h4> {{messages.info}}</h4>
</div>
{{/if}}
        <div class="numberDisplay"></div>
      
</div>
    {{#each regPlates}}
    <li class=''>
      {{town_name}}
     
    </li>
    {{/each}}
    


       
</div>

  <script type="text/javascript">
    function filterBy(elem){
      var  tag = elem.value
      location.href = '/filter/' + tag
    }
  </script>
